- breadcrumb :payments
.payments
  %h2 List of payments:
  %table{:id => "payments", :class => "display", :cellspacing => 0, :width => "100%"}
    %thead
      %tr
        %th.first-name= t('students.columns.first_name')
        %th.last-name= t('students.columns.last_name')
        %th.amount= t('payments.columns.amount')
        %th.pay_date= t('payments.columns.pay_date')
        %th.month= t('payments.columns.month')
    %tbody
      - payments.each do |payment|
        %tr
          %td= payment.student.first_name
          %td= payment.student.last_name
          %td= payment.amount.round(2)
          %td= payment.pay_date        
          %td= payment.decorate.human_month


